# Introduction to Scikit-learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful scikit learn library.

What we are going to cover
0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fir the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model!
7. Putting it all together!

## An end to end Scikit-learn workflow

In [16]:
# Standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [1]:
# Get the data ready
import pandas as pd
heartdisease=pd.read_csv("data/heart-disease.csv")
heartdisease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)
X=heartdisease.drop("target",axis=1)

# Create Y (labels)
Y=heartdisease["target"]

In [3]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
#3. Fit the model to the traning data
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2);
# This means 80% of the data will be used for training and remaining 20% will be 
# used for testing

In [5]:
clf.fit(X_train,Y_train); # This is basically saying classification model(clf)- RandomForest, find the patters in training data

In [6]:
import numpy as np

In [8]:
# make a prediction
y_label= clf.predict(np.array([1,2,3,4]))

A:\MLEnv\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[1. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [9]:
#This error occurs bcuz training dataset has different parameters, age sex, etc.
heartdisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [16]:
y_preds= clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [18]:
Y_test

179    0
269    0
196    0
53     1
166    0
      ..
78     1
178    0
169    0
45     1
95     1
Name: target, Length: 61, dtype: int64

In [19]:
# Evaluate the model
clf.score(X_train,Y_train)

1.0

In [20]:
# Now the model has 100% accuracy over training data
clf.score(X_test,Y_test)

0.7704918032786885

In [21]:
# Our model has 77% accuracy over test data set

In [23]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

print(classification_report(Y_test,y_preds))

              precision    recall  f1-score   support

           0       0.75      0.80      0.77        30
           1       0.79      0.74      0.77        31

    accuracy                           0.77        61
   macro avg       0.77      0.77      0.77        61
weighted avg       0.77      0.77      0.77        61

In [24]:
confusion_matrix(Y_test,y_preds)

array([[24,  6],
       [ 8, 23]], dtype=int64)

In [25]:
accuracy_score(Y_test,y_preds)

0.7704918032786885

In [10]:
#5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Mode accuracy on test set: {clf.score(X_test,Y_test)* 100:.2f}%")
    print("")

Trying model with 10 estimators...
Mode accuracy on test set: 81.97%

Trying model with 20 estimators...
Mode accuracy on test set: 91.80%

Trying model with 30 estimators...
Mode accuracy on test set: 86.89%

Trying model with 40 estimators...
Mode accuracy on test set: 90.16%

Trying model with 50 estimators...
Mode accuracy on test set: 88.52%

Trying model with 60 estimators...
Mode accuracy on test set: 86.89%

Trying model with 70 estimators...
Mode accuracy on test set: 88.52%

Trying model with 80 estimators...
Mode accuracy on test set: 86.89%

Trying model with 90 estimators...
Mode accuracy on test set: 88.52%

 We can see that by tuning one of the hyperparameters(n_estimators) to =20, we can increase the acuracy of our model to 91.80 percent

In [12]:
# Save a model and load it
import pickle

pickle.dump(clf,open("Random_forst_model1.pkl","wb"))

#pickle is python library used to save model, wb refers to write binary

In [14]:
# Now if we want to load our existing model
loadedmodel= pickle.load(open("Random_forst_model1.pkl","rb"))
loadedmodel.score(X_test,Y_test)

0.8852459016393442

## Geting out Data ready to be used with machine learning 

Three main things we have to do:

    1. Split the data into features and labels (usually 'X' & 'Y')
    
    2. Filling (also called imputing) or desregarding missing values
    
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [17]:
heartdisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Getting the data ready (Cleaning, Converting, Reducing)
### 1.1 Make Sure it's all numerical

In [18]:
carsales=pd.read_csv("data/scikit-learn-data/car-sales-extended.csv")

In [19]:
carsales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [20]:
len(carsales)

1000

In [21]:
carsales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In a machine learning model it is important that all data is in form of numbers, because our machine cannot recognize strings or objects

But just to see it, lets try anyway withou changing

In [23]:
# Split into X\y
X=carsales.drop("Price", axis=1)
y=carsales["Price"]

# Split into training and test data sets
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2)

In [24]:
# Build a machine learning model
from sklearn.ensemble import RandomForestRegressor # This ..regressor is same as classifier but this time it can predict a number rather than just classifying it into a category
model =RandomForestRegressor()
model.fit(Xtrain,ytrain)
model.score(xtest,ytest)

ValueError: could not convert string to float: 'Honda'

Now we see what happens, the ML algo cannot recognize these objects and hence cannot find patterns in them
Thats why we have to somehow convert them into numbers

In [27]:
# turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot=OneHotEncoder() # A process to turn categoris into numbers
transformer=ColumnTransformer([("one_hot",
                             one_hot,
                             categorical_features)],
                             remainder="passthrough")
# this tells the Coumntransformer to onehot_encode all the categorical features 
# into a categories and fore rest of the columns passthrough without any change
transformedX=transformer.fit_transform(X)
transformedX

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [28]:
pd.DataFrame(transformedX)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [29]:
# An equivalent way of modifying the data is through pandas
dummies=pd.get_dummies(carsales[["Make","Colour","Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

This same thing is done though scikit learn function

In [30]:
# Now our data is all numerical, lets refit the model
np.random.seed(42)
Xtrain,Xtest,ytrain,ytest=train_test_split(transformedX,y,test_size=0.2)
model.fit(Xtrain,ytrain)

RandomForestRegressor()

In [31]:
model.score(Xtest,ytest)

0.3235867221569877

Finally after changing our model worked

### 1.2 What if there were missing values?

1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data altogether.

In [54]:
# Import carsales missing data
carsales_missing=pd.read_csv("Data/scikit-learn-data/car-sales-extended-missing-data.csv")
carsales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [55]:
carsales_missing.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [50]:
carsales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [45]:
# Create X and y
X = carsales_missing.drop("Price",axis=1)
y=carsales_missing.Price

Due to NaN values, the trnasformation cannot done

#### Option 1 : Fill missing data with pandas

In [63]:
# Filll the "Make" colm.
carsales_missing["Make"].fillna("missing",inplace=True)
# Filll the "Colour" colm.
carsales_missing["Colour"].fillna("missing",inplace=True)
# Filll the "Odometer (KM)" colm.
carsales_missing["Odometer (KM)"].fillna(carsales_missing["Odometer (KM)"].mean(),inplace=True)
# Filll the "Doors" colm.
carsales_missing["Doors"].fillna(4,inplace=True)

In [64]:
# Check our Dataframe
carsales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [65]:
# Its best to remove missing Price row\s from out dataframe bcuz we are trying to predict it
# Remove rows with missing Price value
carsales_missing.dropna(inplace=True)

In [66]:
carsales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [67]:
len(carsales_missing)

950

In [68]:
X = carsales_missing.drop("Price",axis=1)
y=carsales_missing.Price

In [71]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot=OneHotEncoder() # A process to turn categoris into numbers
transformer=ColumnTransformer([("one_hot",
                             one_hot,
                             categorical_features)],
                             remainder="passthrough")
transformedX=transformer.fit_transform(carsales_missing)
transformedX

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

#### Option 2: Fill missing values with scikit-learn

In [72]:
carsales_missing=pd.read_csv("Data/scikit-learn-data/car-sales-extended-missing-data.csv")
carsales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [73]:
carsales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [74]:
# Drop the rows with no labels
carsales_missing.dropna(subset=["Price"],inplace=True)
carsales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [75]:
# Split it into x and y
X= carsales_missing.drop("Price",axis=1)
y=carsales_missing.Price

In [76]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [78]:
# Fill missing values with Scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' and numerical values with mean
cat_imputer =  SimpleImputer(strategy="constant", fill_value="missing") # for every value keep your strategy constant
door_imputer=  SimpleImputer(strategy="constant", fill_value=4)
num_imputer=   SimpleImputer(strategy="mean")

# Define columns
cat_features=["Make","Colour"]
door_features=["Doors"]
num_features=["Odometer (KM)"]

#Create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer,cat_features),
    ("door_imputer",door_imputer,door_features),
    ("num_imputer",num_imputer,num_features)
])

# Transform the data
filled_X=imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [80]:
carsales_filled=pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer (KM)"])
carsales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [81]:
carsales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

We dont have any missing values now

In [82]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make","Colour","Doors"]
one_hot=OneHotEncoder() # A process to turn categoris into numbers
transformer=ColumnTransformer([("one_hot",
                             one_hot,
                             categorical_features)],
                             remainder="passthrough")
# this tells the Coumntransformer to onehot_encode all the categorical features 
# into a categories and fore rest of the columns passthrough without any change
transformedX=transformer.fit_transform(carsales_filled)
transformedX

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

Now we have got our data as numbers with no missing values

In [85]:
# Let's fit a model
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

Xtrain,Xtest,ytrain,ytest=train_test_split(transformedX,
                                          y,
                                          test_size=0.2)
model=RandomForestRegressor(n_estimators=100)
model.fit(Xtrain,ytrain)
model.score(Xtest,ytest)

0.26693196674460984

This one performed worst than the previous because this one has less data

# 2. Choosing the right estimator/algorithm for our problem

Scikit-learn uses estimator as another term for machine learning model or algorithm

* Classification - predicting whether a sample is one thing or another
* Regression -  predicting a number

### 2.1 Picking a machine learning model for a regression problem

import Boston housing dataset

In [146]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 
                'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
boston_df=pd.read_csv("Data/Boston.csv",skiprows=1,names=column_names)
target=pd.Series(boston_df.MEDV)
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [147]:
boston_df["target"]=target
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,target
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,36.2

In [148]:
boston_df.drop("MEDV",axis=1,inplace=True)
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [159]:
# Lets try the Ridge Regression model
from sklearn.linear_model import Ridge

#Setup random seed
np.random.seed(42)

# Create the data
X= boston_df.drop("target",axis=1)
y=boston_df.target

#Split into train and test sets
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

# Instantiate Ridge model
model=Ridge()
model.fit(Xtrain,ytrain)

# Check the score of the ridge model on test data
model.score(Xtest,ytest)

0.6662221670168522

How do we improve this score?
What if ridge wasn't working?

In [161]:
# Lets try the Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor

#Setup random seed
np.random.seed(13)

# Create the data
X= boston_df.drop("target",axis=1)
y=boston_df.target

#Split into train and test sets
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

# Instantiate Ridge model
rf=RandomForestRegressor()
rf.fit(Xtrain,ytrain)

# Check the score of the ridge model on test data
rf.score(Xtest,ytest)

0.8990580862361035

In [162]:
model.score(Xtest,ytest)

0.7483982289113662

### 2.2 Chossing an estimator for a classifiaction problem

In [164]:
heartdisease =  pd.read_csv("Data/heart-disease.csv")
heartdisease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [165]:
len(heartdisease)

303

Consulting the map and it says try **LinearSVC**

In [171]:
# Import the LinearSVC estimator class
from sklearn.svm import LinearSVC

#Setup Random seed
np.random.seed(13)

# Make the data
X=heartdisease.drop("target",axis=1)
y=heartdisease.target

# Split the Data
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

# Instantiate LinearSVC
clf=LinearSVC()

# Train the model
clf.fit(Xtrain,ytrain)

# Check the model
clf.score(Xtest,ytest)

A:\MLEnv\env\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8360655737704918

In [172]:
# Import the RandomForestClassifier estimator class
from sklearn.ensemble import RandomForestClassifier

#Setup Random seed
np.random.seed(13)

# Make the data
X=heartdisease.drop("target",axis=1)
y=heartdisease.target

# Split the Data
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

# Instantiate LinearSVC
clf=RandomForestClassifier()

# Train the model
clf.fit(Xtrain,ytrain)

# Check the model
clf.score(Xtest,ytest)

0.7540983606557377

Tidbit:

    1. If you have structured data, use ensemble method
    2. If you have unstructured data, use deep learning or transfer learning

## 3. Fit the model/algorithm on our data and use it to make predictions

### 3.1 Fitting the model to the data

In [174]:
# Import the RandomForestClassifier estimator class
from sklearn.ensemble import RandomForestClassifier

#Setup Random seed
np.random.seed(42)

# Make the data
X=heartdisease.drop("target",axis=1)
y=heartdisease.target

# Split the Data
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

# Instantiate LinearSVC
clf=RandomForestClassifier()

# Fit the model
clf.fit(Xtrain,ytrain)

# Check the model
clf.score(Xtest,ytest)

0.8524590163934426

### 3.2 Make predictions using a machine learning model

2 ways to make predictions
1. predict()
2. predict_proba()

In [177]:
# Use a trained model to make predictions
clf.predict(Xtest) #Predictions

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [178]:
np.array(ytest) #Truth

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [179]:
ypreds=clf.predict(Xtest)
np.mean(ypreds == ytest)

0.8524590163934426

In [180]:
clf.score(Xtest,ytest)

0.8524590163934426

In [181]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypreds)

0.8524590163934426

 Make prediction with **predict_proba()**

In [182]:
# predic proba return probabilities of a classification label
clf.predict_proba(Xtest[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [ ]:
# Lets predict on the same data